* {
    text-align: center;
}

.listItem {
    border: solid 10px blue;
    margin: 2rem;
}

li {
    list-style: none;
}

.title {
    font-weight: bold;
    font-size: 50px;
    margin: 2rem;
}

.descript {
    font-weight: bold;
    font-size: 25px;
    margin: 2rem;
}